# NOTE: This file is auto generated by OpenAPI Generator 6.3.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule KindeManagementAPI.Api.OAuth do
  @moduledoc """
  API calls for all endpoints tagged `OAuth`.
  """

  alias KindeManagementAPI.Connection
  import KindeManagementAPI.RequestBuilder

  @doc """
  Returns the details of the currently logged in user
  Contains the id, names and email of the currently logged in user 

  ### Parameters

  - `connection` (KindeManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, KindeManagementAPI.Model.UserProfile.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_user(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, KindeManagementAPI.Model.UserProfile.t} | {:error, Tesla.Env.t}
  def get_user(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth2/user_profile")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %KindeManagementAPI.Model.UserProfile{}},
      {403, false}
    ])
  end

  @doc """
  Returns the details of the currently logged in user
  Contains the id, names and email of the currently logged in user 

  ### Parameters

  - `connection` (KindeManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, KindeManagementAPI.Model.UserProfileV2.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_user_profile_v2(Tesla.Env.client, keyword()) :: {:ok, KindeManagementAPI.Model.UserProfileV2.t} | {:ok, nil} | {:error, Tesla.Env.t}
  def get_user_profile_v2(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth2/v2/user_profile")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %KindeManagementAPI.Model.UserProfileV2{}},
      {403, false}
    ])
  end
end
